{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "prop-types": [1],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0
  },
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "prettier"]
}
